@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro");

@font-face {
  font-family: "Avenir Light";
  src: url(/Users/nelsfoltz/Desktop/codefestproject/codefest site code/Avenir.ttc);
}

*font-family {
  font-family: "Avenir Light";
}

body {
  height: 100%;
  background-color: #000000;
}

/* Add a black background color to the top navigation */

.nav {
    background-color: #000000;
    overflow: hidden;
    font-family: "futura-pt", "Nunito", sans-serif;
    font-size: 10px;
    style: normal;
    line-height: 1.6em;
    text-transform: uppercase;
    letter-spacing: .2em;
    font-weight: 300;
    text-decoration: none;
    text-align: center;
    padding-top: 25px;
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
  text-align: center;
}

#BarNav {
  text-align: center;
}

/* Style the links inside the navigation bar */
.nav a {
    display: inline-block;
    float: none;
    color: rgba(255,255,255,.5);
    padding: 14px 16px;
    text-decoration: none;
    font-size: 14px;
}

/* Change the color of links on hover */
.nav a:hover {
    color: #f2f0ee;
    background-color: #000000; !important;
}

/* Add a color to the active/current link */
.nav>li>a:focus, .nav>li>a:hover {
    color: rgba(255,255,255,0.9);
    background-color: #000000;
}

#map {
  padding-top: 55px;
  max-width: 50%;
}

.formContent {
  text-align: left;
  display: inline-block;
}

#questionaire {
  text-align: center;
  padding-top: 125px;
}

#story {
   max-width: 600px;
   padding-top: 45px;
}

.form-group {
  text-align: left;
}

.form-group, .checkbox, #questionaire {
     color: rgba(207, 207, 210, 0.99);
     font-size: 15px;
     font-family: "futura-pt", "Nunito", sans-serif;
     line-height: 1.4em;
     text-transform: none;
     letter-spacing: .075em;
     font-weight: 200;
     font-style: normal;
     text-decoration: none;
}

#contextualinfo, #McCoyinfo {
   font-size: 18px;
   font-family: "futura-pt", "Nunito", sans-serif;
   line-height: 1.2em;
   text-transform: none;
   letter-spacing: .05em;
   font-weight: 300;
   font-style: normal;
   text-decoration: none;
   color: rgba(207, 207, 210, 0.99);
}

#contextualinfo {
  text-align: center;
  padding-top: 100px;
  max-width: 800px;
}

#McCoyinfo {
  text-align: center;
  max-width: 600px;
}

#logo {
  padding-top: 25px;
}

#Academylogo {
  padding-top: 55px;
}

.resources {
   font-size: 18px;
   font-family: "futura-pt", "Nunito", sans-serif;
   line-height: 1em;
   text-transform: none;
   letter-spacing: .075em;
   font-weight: 300;
   font-style: normal;
   text-decoration: none;
   text-align: center;
   padding-top: 10px;
   padding-bottom: 10px;
   color: rgba(207, 207, 210, 0.99);
}

#resourceBlock {
  padding-top: 85px;
}

.resourcepageline {
  width: 17%;
  color: #bbb;
  border-style: none;
  border-width: 0;
  background-color: #f4f0ff;
  height: 1px;
  opacity: .2
}

hr {
  width: 50%;
  color: #bbb;
  border-style: none;
  border-width: 0;
  background-color: #f4f0ff;
  height: 1px;
  opacity: .2;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: inherit;
  text-decoration: none;
}

a:focus {
  color: inherit;
  text-decoration: none;
}

.loveBlock {
  padding-top: 75px;
}

.camomap {
  background-image: url('../img/c_camo_map_720.png');
  background-repeat: no-repeat;
  background-size: 30%;
  background-position: center;
  background-position: top;
  height: 800px;
  max-width: 100%;
  margin-top: 2.5%;
  }

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba(0,0,0,0.5); /*dim the background*/
}

.blur {
  filter: blur(5px);
  }

.newclass {
  position: relative;
}

.icon-bar {
  background-color: white;
}

.bothlogos {
  padding-right: 35px;
  /*margin: auto;
  display: block;*/
}

#count_message {
  color: white;
}


#loveinfo {
   font-size: 18px;
   font-family: "futura-pt", "Nunito", sans-serif;
   line-height: 1.8em;
   text-transform: none;
   letter-spacing: .075em;
   font-weight: 300;
   font-style: normal;
   text-decoration: none;
   color: rgba(207, 207, 210, 0.99);
}

#loveinfo {
  text-align: center;
  padding-top: 250px;
}

.sendlove {
  width: 100%;
  height: 100%;
  position: absolute;
  box-sizing: border-box;
  border: 5px solid #fff;
  font-family: 'Avenir Light',sans-serif;
  line-height: 50px;
  font-size: 17pt;
  text-align: center;
  text-transform: lowercase;
}

.sendlove:nth-child(1) {
  color: #fff;
  transform: translate3d(0, 0, 30px);
  -webkit-transform: translate3d(0, 0, 30px);
}

.sendlove:nth-child(2) {
  color: #415713;
  background: #fff;
  transform: rotateX(90deg) translate3d(0, 0, 30px);
  -webkit-transform: rotateX(90deg) translate3d(0, 0, 30px);
}

#sharebox {
   text-align: center;
   margin-left: -8px;
}

/*figure {
  width: 200px;
  height: 60px;
  cursor: pointer;
  perspective: 500px;
  -webkit-perspective: 500px;
}

figure div {
  height: 100%;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  transition: 0.25s;
  -webkit-transition: 0.25s;
}

figure:hover div {
  transform: rotateX(-90deg);
}*/

figure {
  width: 200px;
  height: 60px;
  cursor: pointer;
  perspective: 500px;
  -webkit-perspective: 500px;
}

figure div {
  height: 100%;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  transition: 0.25s;
  -webkit-transition: 0.25s;
}

figure:hover div {
  transform: rotateX(-90deg);
}

.submitstory {
  width: 100%;
  height: 100%;
  position: absolute;
  box-sizing: border-box;
  border: 5px solid #fff;
  font-family: 'Avenir Light',sans-serif;
  line-height: 50px;
  font-size: 17pt;
  text-align: center;
  text-transform: lowercase;
}

.submitstory:nth-child(1) {
  color: #fff;
  transform: translate3d(0, 0, 30px);
  -webkit-transform: translate3d(0, 0, 30px);
}

.submitstory:nth-child(2) {
  color: #415713;
  background: #fff;
  transform: rotateX(90deg) translate3d(0, 0, 30px);
  -webkit-transform: rotateX(90deg) translate3d(0, 0, 30px);
}





/*.modal-content {
  background: transparent !important;
  border: transparent !important;
}*/

.modal-dialog {
  width:600px;
}

.modal-content {
  background: black !important;
  border: black !important;
  /*opacity: .93;*/
}

.modal-header, .modal-footer {
  border: none !important;
}

#myModal {
   float: none;
   margin-left: auto;
   margin-right: auto;
   top: 25%;
}

.close {
  color: white !important;
}
